body{

background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);



}
.tituloJuego{
margin-left: 10%;
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
color: rgb(71, 52, 38);
}

.tituloJuego{

background-color: rgb(255, 255, 255);
max-width: 32%;
padding-left: 15px;
width: 100 px;
height: 100 px;

}



.cubo{

    text-align: center;
    display: flex;
    margin-left: 10%;

   }

  .botones2{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(142, 137, 137);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones2:hover{

    background-color: rgb(150, 144, 135);
  }





   .botones{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(171, 161, 156);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones:hover{

    background-color: rgb(138, 123, 117);
  }

.nav{


background-color: black;
color: white;
text-decoration: none;
font-size: 20px;



}
   
  
.button1{
margin-left: 18%;
background-color: rgb(83, 70, 70);
color: white;
font-size: 20px;
width: 150px;
height: 35px;
}

.button2{
  margin-left: 18%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  width: 150px;
  height: 35px;
  }
  
  .cambiarFondo{
  
  background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);

  }

.moverEnlace{

display: grid;
margin-left: 80%;
gap: 10px;
}


.videoFondo{
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    object-fit: cover; 
    z-index: -1;
}

.tituloJuego3{
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
color: rgb(18, 18, 18);
}

.tituloJuego3{


width: 100 px;
height: 100 px;

}
.cubo3{

  text-align: center;
  display: flex;
  

 }

.botones3{
  width: 100px;
  height: 100px;
  border: solid rgb(58, 34, 15) 6px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.301);
  justify-content: center;
  align-items: center;
   
 }
 
 .botones3:hover{

  background-color: rgb(240, 219, 230);
}



.button3{
  margin-left: 7%;
  background-color: rgb(45, 40, 45);
  color: white;
  font-size: 20px;
  width: 150px;
  height: 35px;
  }

  .moverP{
  margin-left: 16%;
  font-size: 30px;
  
  }

  .moverP2{
margin-right: 5%;
  font-size: 45px;
  
  }
  
  
