

body{

background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);



}
.tituloJuego{
margin-left: 10%;
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
color: rgb(71, 52, 38);
}

.tituloJuego{

background-color: rgb(255, 255, 255);
width: 100 px;
height: 100 px;

}



.cubo{

    text-align: center;
    display: flex;
    margin-left: 10%;

   }

  .botones2{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(142, 137, 137);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones2:hover{

    background-color: rgb(150, 144, 135);
  }





   .botones{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(171, 161, 156);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones:hover{

    background-color: rgb(138, 123, 117);
  }

.nav{


background-color: black;
color: white;
text-decoration: none;
font-size: 20px;



}
   
  
.button1{
margin-left: 18%;
background-color: rgb(83, 70, 70);
color: white;
font-size: 20px;
width: 150px;
height: 35px;
}

.button2{
  margin-left: 18%;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 20px;
  width: 150px;
  height: 35px;
  }
  
  .cambiarFondo{
  
  background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);

  }

.moverEnlace{

display: grid;
margin-left: 80%;
gap: 10px;
}


.fondo { 
         background-image: url("img/6cc656d1f44f7f304df63059eb8b5840.gif"); 
       background-position: center 25%; 
         background-size: cover; 
     } 


.tituloJuego3{
font-size: 60px;
font-family: 'Times New Roman', Times, serif;
color: rgb(50, 34, 49);
}

.tituloJuego3{


width: 100 px;
height: 100 px;

}
.cubo3{

  text-align: center;
  display: flex;
  

 }

.botones3{
  width: 100px;
  height: 100px;
  border: solid white 6px;
  display: flex;
  background-color: rgb(223, 187, 215);
  justify-content: center;
  align-items: center;
   
 }
 
 .botones3:hover{

  background-color: rgb(240, 219, 230);
}



.button3{
  margin-left: 7%;
  background-color: rgb(208, 169, 208);
  color: white;
  font-size: 20px;
  width: 150px;
  height: 35px;
  }