

body{

<<<<<<< HEAD
background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);



}
.tituloJuego{
margin-left: 10%;
font-size: 60px;
font-family: 'Times New Roman', Times, serif;

}

.tituloJuego{

background-color: rgb(255, 255, 255);
width: 100 px;
height: 100 px;

}



.cubo{

    text-align: center;
    display: flex;
    margin-left: 10%;

   }

  .botones2{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(26, 35, 107);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones2:hover{

    background-color: rgb(181, 184, 184);
  }





   .botones{
    width: 100px;
    height: 100px;
    border: solid white 8px;
    display: flex;
    background-color: rgb(144, 133, 133);
    justify-content: center;
    align-items: center;
     
   }
   
   .botones:hover{

    background-color: rgb(181, 184, 184);
  }

.nav{

margin-left: 85%;
background-color: white;
color: black;
text-decoration: none;




}
   
  
.button1{
margin-left: 18%;
background-color: rgb(46, 46, 46);
color: white;
width: 150px;
height: 35px;
}
  
  .cambiarFondo{
  
  background-image: url(img/d6b490325eae680ed7094c0d780de6d5.jpg);
  
  
  }
=======
    background-image: url(img/d94bfec0f95422948635306a3a1fa058.jpg);
    
    
    
    }
    .tituloJuego{
    margin-left: 10%;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    .tituloJuego{
    
    background-color: rgb(255, 255, 255);
    width: 100 px;
    height: 100 px;
    
    }
    
    
    
    .cubo{
    
        text-align: center;
        display: flex;
        margin-left: 10%;
    
       }
    
    
    
       .botones{
        width: 100px;
        height: 100px;
        border: solid white 8px;
        display: flex;
        background-color: rgb(144, 133, 133);
        justify-content: center;
        align-items: center;
         
       }
       
       .botones:hover{
    
        background-color: rgb(153, 158, 158);
      }
    
      
    
>>>>>>> d794a5322935129e798a0b02d80b6d25818d6386
